@import '_styles';

.about-us {
  h1, p {
    position: relative;
    background: white;
    display: inline-block;
    margin: -1px;
    padding: 10px 15px 0px 0px;
  }

  h1 {
    bottom: -1px;
  }

  @include mid-break {
    h1, p {
      padding: 10px 10px 0px 0px;
    }

    br {
      display: none;
    }
  }
}
