@font-face {
	font-family: 'Abhaya Libre', serif;
	src: url('https://fonts.googleapis.com/css?family=Abhaya+Libre:800&display=swap');
	font-weight: 900;
	font-style: normal;
}

@font-face {
  font-family: 'EurostileNext';
  src: url('/static/fonts/EurostileNextLTPro-Regular.woff2') format('woff2'),
      url('/static/fonts/EurostileNextLTPro-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
