@font-face {
  font-family: 'Abhaya Libre';
  src: url('/static/fonts/AbhayaLibre-ExtraBold.woff2') format('woff2'),
      url('/static/fonts/AbhayaLibre-ExtraBold.woff') format('woff');
  font-weight: 800;
  font-style: normal;
}

@font-face {
  font-family: 'EurostileNext';
  src: url('/static/fonts/EurostileNextLTPro-Regular.woff2') format('woff2'),
      url('/static/fonts/EurostileNextLTPro-Regular.woff') format('woff');
  font-weight: 300;
  font-style: normal;
}
