@import '_styles';

.footer {
  padding: 150px 30px;
  background: linear-gradient( 95deg, #323232 20%, #1C1C1C);

  &-text {
    margin: 0;
    color: white;
    line-height: 1.25;
  }

  &-rsvp {
    background: white;
    padding: 20px 50px;
    font-family: $font-heading;
    font-size: 25px;

    &-wrap {
      align-self: center;
    }
  }
}
