@import '_styles';

.prev-next {
  display: flex;
  position: relative;
  z-index: 1;

  &__prev,
  &__next {
    display: flex;
    padding: 4px 10px;
    border: 1px solid $sage-green;
    margin-left: 0;
    margin-right: 0;
    transition: 500ms ease;

    svg {
      transition: 500ms ease;
      path {
        stroke: $sage-green;
      }
    }

    &--is-active {

      &:hover {
        background: $sage-green;
        svg {
          path {
            stroke: white;
          }
        }
      }

      + .prev-next__next--is-inactive {
        border-left-color: $sage-green;
      }
    }

    &--is-inactive {
      border-color: #E0E5E3;

      svg {
        opacity: .25;
      }
    }
  }

  &__prev {
    position: relative;
    border-right: none;

    > svg {
      transform: rotate(180deg);
    }
  }

  &__is-on-first {
    .prev-next__prev {
      opacity: 0;
    }
  }

  &__is-on-last {
    .prev-next {
      &__prev {
        border-right: 1px solid $sage-green;
      }

      &__next {
        opacity: 0;
      }
    }
  }

  &__infinite-scroll {
    .prev-next {
      &__prev,
      &__next {
        &--is-inactive,
        &--is-active {
          opacity: 1;
          border: 1px solid $sage-green;

          svg {
            opacity: 1;
          }

          &:hover {
            background: $sage-green;
            svg {
              path {
                stroke: white;
              }
            }
          }
        }
      }

      &__prev {
        border-right: none;
      }
    }
  }
}
