@import '_styles';

.prev-next {
  display: flex;
  position: relative;
  z-index: 1;

  &__prev,
  &__next {
    display: flex;
    padding: 4px 10px;
    border: 1px solid $sage-green;
    margin-left: 0;
    margin-right: 0;

    svg {
      transition: 1000ms ease-in-out;
      path {
        stroke: $sage-green;
      }
    }

    &--is-active {
      transition: 500ms ease;

      &:hover {
        background: $sage-green;
        svg {
          path {
            stroke: white;
          }
        }
      }
    }

    &--is-inactive {
      opacity: .25;
    }
  }

  &__prev {
    position: relative;
    border-right: none;

    > svg {
      transform: rotate(180deg);
    }
  }
}
