@import '_styles';

.stacked-images {
  position: relative;
  margin-top: base(3);

  &--left {
    .stacked-images {
      &__secondary-image {
        right: unset;
        left: -50%;
      }
    }
  }

  &__primary-image {

  }

  &__secondary-image {
    background-size: cover;
    background-repeat: no-repeat;
    position: absolute;
    top: base(-3);
    right: -50%;
    z-index: -1;
  }
}
