@import '_styles';

.slider-wrap {
  width: 100%;
}

.questions {
  &__row-wrap {
    margin: 40px 20px 20px 20px !important;
    width: 100%;
  }

  &__navigation {
    margin-right: 20px;
  }

  &__results-slide {
    flex-wrap: wrap;

    p, h3 {
      width: 100%;
      margin-bottom: 0;
    }
  }

  @include mid-break {
    .question-card__wrap:nth-child(1),
    .question-card__wrap:nth-child(2) {
      margin-bottom: 40px;
    }
  }
}
