@import '_styles';

.image-content {
  position: relative;

  &__image {
    width: 100%;
    display: block;

    img {
      width: 100%;
    }
  }

  &--overlay-text {
    position: relative;

    .image-content {
      &__content {
        position: absolute;
        bottom: 0;
        max-width: 60%;
      }

      &__image {
        padding-bottom: $line-height;
      }
    }
  }

  @include large-break {
    &--overlay-text {

      .image-content {
        &__content {
          max-width: 75%;
        }
      }
    }
  }

  @include mid-break {
    &--overlay-text {

      .image-content {
        &__content {
          max-width: 85%;
        }
      }
    }
  }

  @include tiny-break {
    &--overlay-text {

      &__image {
        padding-bottom: 100px;
      }
    }
  }
}
