@import '_styles';

.spacer {
  display: block;

  &--small {
    height: base(2);
  }

  &--medium {
    height: base(4);
  }

  &--large {
    height: base(5);
  }

  @include mid-break {
    &--small {
      height: base(1);
    }

    &--medium {
      height: base(2);
    }

    &--large {
      height: base(2);
    }
  }
}
